---
export interface CardProps {
  title: string;
  content: string;
  animate: string;
  image?: string; // Imagen opcional
  colSpan?: string; // Tamaño de columnas en el grid
  rowSpan?: string; // Tamaño de filas en el grid
}

const { title, content, image, colSpan = 'col-span-6', rowSpan = 'row-span-1',animate } = Astro.props;
---
<div class={`bg-zinc-100 border shadow-md rounded-3xl p-4 ${colSpan} ${rowSpan} ${animate}`}>
  {image && <img src={image} alt={title} class="w-32 h-32 rounded-full m-auto" />}
  <h3 class="mt-4 text-xl font-bold text-gray-800">{title}</h3>
  <p class="text-gray-600">{content}</p>
</div>
